version: "3"
services:
  jupyter:
    build:
      context: ./unflavored
    image: bjmrq/ml-jupyter
    container_name: jupyter
    volumes:
      - ./:/home/workspace
    env_file: .env.exemple
    ports:
      - 8888:8888
      - 6006:6006
    user: "root"
    working_dir: /home/workspace
