version: "2.4"
services:
  jupyter:
    build:
      context: ./basic/python3.8
    image: bjmrq/ml-jupyter
    container_name: jupyter
    volumes:
      - ./:/home/workspace
    env_file: ./.env
    ports:
      - 8888:8888
      - 6006:6006
    user: "root"
    working_dir: /home/workspace
